<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title> Bem Vindo! </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="loginFormGroup" #loginFormGroupDirective="ngForm">
    <ion-list>
      <ion-item>
        <ion-input
          placeholder="e-mail"
          inputmode="email"
          clearInput="true"
          formControlName="email"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          placeholder="senha"
          inputmode="password"
          clearInput="true"
          formControlName="senha"
          required
          type="password"
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button style="width: 80vw; margin: auto; margin-top: 2rem;" expand="block" size="large" (click)="login()">
      Login
    </ion-button>
  </form>


</ion-content>
